<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>好丽友</string>
		<key>online</key>
		<string>3</string>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>圆规为什么可以画圆？因为脚在走，心不变</string>
				<key>name</key>
				<string>昵称</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>你为什么不能圆梦？因为心不定，脚不动。</string>
				<key>name</key>
				<string>昵称2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>想成为更好的自己，就去见识更大的世界</string>
				<key>name</key>
				<string>泥城</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>认识更多优秀的人，汲取更广泛的知识</string>
				<key>name</key>
				<string>昵称3</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>你不需要别人过多的称赞，因为你自己知道自己有多好。</string>
				<key>name</key>
				<string>昵称4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>最令人遗憾的是，你配不上自己的雄心，也辜负了受过的苦难</string>
				<key>name</key>
				<string>昵称5</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>相濡以沫，却厌倦到终老</string>
				<key>name</key>
				<string>好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>相忘于江湖，却怀念到哭泣</string>
				<key>name</key>
				<string>好友2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>卡西莫多的礼物</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>有时候，你必须跌到你从未经历的谷底，才能再次站在你从未到达的高峰</string>
				<key>name</key>
				<string>人才1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>。。。。。。。。。</string>
				<key>name</key>
				<string>无语</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>！！！！！！</string>
				<key>name</key>
				<string>无语2</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>极客</string>
				<key>name</key>
				<string>恩恩</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>换换</string>
				<key>name</key>
				<string>花环</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>就是这么拽</string>
				<key>name</key>
				<string>任性</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>励志</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>那么问题来了</string>
				<key>name</key>
				<string>咳咳</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>万万没想到</string>
				<key>name</key>
				<string>极客1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>极客极客</string>
				<key>name</key>
				<string>极客3</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>极客极客3</string>
				<key>name</key>
				<string>极客</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>极客学院</string>
		<key>online</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>再见，我的大学</string>
				<key>name</key>
				<string>大学好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>bye</string>
				<key>name</key>
				<string>大学好友</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>毕业了</string>
				<key>name</key>
				<string>大学好友3</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>纪念册</string>
				<key>name</key>
				<string>大学好友7</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>333</string>
				<key>name</key>
				<string>大学好友8</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>再见再见</string>
				<key>name</key>
				<string>大学好友4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>恩恩</string>
				<key>name</key>
				<string>大学好友11</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>无奈无奈</string>
				<key>name</key>
				<string>大学好友-7</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>pop</string>
				<key>name</key>
				<string>大学好友34</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>opop</string>
				<key>name</key>
				<string>大学好友m</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>呜呜呜呜</string>
				<key>name</key>
				<string>大学好友l</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>QQ群</string>
				<key>name</key>
				<string>大学好友9090</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>啧啧啧</string>
				<key>name</key>
				<string>大学好友0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>不再见</string>
				<key>name</key>
				<string>大学好友</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>喜欢你</string>
				<key>name</key>
				<string>不回头</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>末路青春</string>
		<key>online</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>世界那么大</string>
				<key>name</key>
				<string>世界好友</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>世界好友</string>
				<key>name</key>
				<string>世界好友世界好友</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>啊啊啊</string>
				<key>name</key>
				<string>世界好友2</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>三生三世枕上书</string>
				<key>name</key>
				<string>世界好友3</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>柔柔弱弱人</string>
				<key>name</key>
				<string>世界好友4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>袅袅娜娜</string>
				<key>name</key>
				<string>世界好友5</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>一杯水</string>
				<key>name</key>
				<string>世界好友6</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>螃蟹</string>
				<key>name</key>
				<string>世界好友8</string>
			</dict>
		</array>
		<key>name</key>
		<string>世界</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>欠我钱</string>
				<key>name</key>
				<string>任性</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>任性</string>
				<key>name</key>
				<string>恩</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>任性任性</string>
				<key>name</key>
				<string>恩恩</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>再回首</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>sss</string>
				<key>name</key>
				<string>可爱的人1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>啊啊啊啊</string>
				<key>name</key>
				<string>可爱的人1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>宝贝宝贝</string>
				<key>name</key>
				<string>可爱的人1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>CCC</string>
				<key>name</key>
				<string>可爱的人1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>反反复复</string>
				<key>name</key>
				<string>可爱的人1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>忐忐忑忑</string>
				<key>name</key>
				<string>可爱的人1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>呃呃呃</string>
				<key>name</key>
				<string>可爱的人1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>(&gt;^ω^&lt;)喵</string>
				<key>name</key>
				<string>可爱的人1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>坎坎坷坷</string>
				<key>name</key>
				<string>可爱的人1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>啦啦啦啦啦</string>
				<key>name</key>
				<string>可爱的人1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>哦哦哦</string>
				<key>name</key>
				<string>可爱的人1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>可爱的人</string>
		<key>online</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>星空</string>
				<key>name</key>
				<string>主唱大人</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>咸鱼</string>
				<key>name</key>
				<string>石头</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>已经牵紧的手，我们都不会放开</string>
				<key>name</key>
				<string>玛莎</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>鼓手</string>
				<key>name</key>
				<string>冠佑</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>哇哦</string>
				<key>name</key>
				<string>怪兽</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>五月天</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
