<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Object-C.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3D2EE541BAD128800231490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3D2EE6D1BAD128900231490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3D2EE781BAD128900231490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
