<plist version="1.0">
<dict>
<key>0.jpg</key>
<string>iphone 5s</string>
<key>1.jpg</key>
<string>iphone 5c</string>
<key>2.jpg</key>
<string>ipad min with retain</string>
<key>3.jpg</key>
<string>ipad air</string>
<key>4.jpg</key>
<string>ipod</string>
<key>5.jpg</key>
<string>ipod touch</string>
<key>6.jpg</key>
<string>mac book pro</string>
<key>7.jpg</key>
<string>mac book air</string>
<key>8.jpg</key>
<string>imac</string>
</dict>
</plist>